.page.flashcard {
  background-color: #60a917;
  padding: 2rem;
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h2 { font-size: xx-large; }

.card {
  background-color: #F7F6BB;
  border-radius: 16px;
  padding: 2rem;
  font-size: 1.2rem;
  width: 320px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 1rem;
  color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.progress-bar {
  width: 300px;
  height: 10px;
  background-color: #cfe89d;
  border-radius: 8px;
  overflow: hidden;
  margin: 1rem auto;
}

.progress-fill {
  height: 100%;
  background-color: #ffffff;
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.navigation-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.navigation-buttons button {
  background-color: #F7F6BB;
  color: black;
  border: none;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

/* Footer */
.footer-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1d3b00;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}

.footer-icons img {
  width: 50px;
  height: 50px;
}

/* Notification */
.notification-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #F7F6BB;
  margin-bottom: 60px;
  border-radius: 10px;
  padding: 20px;
  z-index: 100;
}

.notification-content {
  text-align: center;
  color: black;
}

.try-test-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ffd700;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: black;
  border-radius: 5px;
  color: white;
  background-color: #1d3b00;
  font-size: 18px;
  cursor: pointer;
}

/* Overlay */
.notification-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
