.page.result {
    background-color: #60a917;
    padding: 2rem;
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
  }
  
  blockquote {
    background: #a8e61d;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
  }