.page.result {
    background-color: #60a917;
    padding: 2rem;
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .page.result h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #ffd700;
  }
  
  .page.result blockquote {
    background: #a8e61d;
    padding: 1rem;
    border-radius: 12px;
    margin-top: 1rem;
    max-width: 400px;
    color: white;
    font-style: italic;
  }

  .result-box {
    background: #f7f6bb;
    color: black;
    border-radius: 16px;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: black;
  }
  
  .window-buttons {
    display: flex;
    gap: 4px;
  }
  
  .window-buttons .btn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
  }
  
  .score-text {
    font-size: 4rem;
    font-weight: bold;
    color: black;
    text-align: center;
  }
  
  .result-message {
    margin-top: 1rem;
    font-size: 0.95rem;
    line-height: 1.5;
    color: black;
    text-align: center;
  }
  
  .result-actions {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .answer-summary {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin-top: 2rem;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .answer-column {
    flex: 1;
    min-width: 300px;
    background: #60a917;
    padding: 1rem;
    border-radius: 10px;
    }
  
  .answer-column h3 {
    color: #1d3b00;
    margin-bottom: 1rem;
  }
  
  .answer-card {
    background: #f7f6bb;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border-radius: 8px;
    text-align: left;
    font-size: 0.9rem;
    color: black;
  }
  
  .correct {
    border-left: 5px solid green;
  }
  
  .wrong {
    border-left: 5px solid red;
  }
  
  
  .retry-button {
    padding: 0.7rem 1.5rem;
    background: #ffd700;
    border: 2px solid black;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .retry-button:hover {
    opacity: 0.85;
  }  

  /* Footer */
.footer-icons {
  position: fixed; /* đổi từ absolute sang fixed */
  bottom: 0;
  left: 0;
  width: 100%; /* chiếm toàn bộ chiều rộng */
  background-color: #1d3b00;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}

.footer-icons img {
  width: 50px;
  height: 50px;
}
  
  
